.nav {
  border-bottom: 1px solid var(--clr--border);
  margin-bottom: 2rem;
}

.logo {
  font-weight: 600;
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
}

a {
  display: flex;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 5rem;
}
