.illustration {
  max-width: 100%;
}

.header {
  width: 100%;
  max-width: 25rem;
  margin: auto;
}

.input {
  outline: none;
  border: none;
  background-color: var(--background--2);
  padding: 1rem;
  width: 100%;
  border-radius: var(--border--radius);
  color: var(--foreground--1);
  font-family: var(--font--primary);
  font-weight: 400;
  transition: 0.3s;
}

.input:focus {
  box-shadow: 0px 0px 0px 2px var(--clr--active);
}

.search {
  position: relative;
  margin-top: 1rem;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 30%;
  z-index: 1;
  background-color: var(--background--2);
}

.loading {
  animation: 0.7s spinner infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
