@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --background--1: hsl(0, 0%, 7%);
  --background--2: hsl(0, 0%, 13%);
  --foreground--1: hsl(0, 0%, 100%);
  --foreground--2: hsl(31, 9%, 69%);
  --clr--border: hsl(0, 0%, 19%);
  --clr--active: #d11356;
  --border--radius: 0.5rem;
  --font--primary: 'Ubuntu', sans-serif;
  --max--width: 55rem;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(107, 107, 107);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font--primary);
  background-color: var(--background--1);
  color: var(--foreground--1);
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
