.hidden {
  opacity: 0;
}

.loading {
  background-color: var(--background--2);
  border-radius: var(--border--radius);
}

.img {
  width: 100%;
  display: block;
  border-radius: 0.5rem;
  transition: 0.3s;
}
