.hidden {
  opacity: 0;
}

.wrapper {
  margin-bottom: 0.8rem;
}

.loading {
  background-color: var(--background--2);
  border-radius: var(--border--radius);
}

.img {
  width: 100%;
  transition: 0.3s;
  border-radius: 0.5rem;
}
