.cta {
  display: flex;
  font-size: 2rem;
}

.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-color: var(--background--2); */
  background-color: var(--clr--active);
  background-image: url('../../assets/dots.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.link svg {
  font-size: 2rem;
  margin-right: 0.7rem;
}

.back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
  background-color: transparent;
}

@media screen and (min-width: 650px) {
  .menu {
    bottom: 70%;
    min-height: 20rem;
    /* background-color: var(--background--2); */
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
